#page-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  flex-direction: column;
}

#page-edit .logo-camping-fire {
  width: 20.5rem;
}

#page-edit .btn-back {
  margin-top: 3rem;
  width: 18.5rem;
  height: 2.5rem;
  background-color: #EC9121;
  border: 0;
  border-radius: 2rem;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s;
}

#page-edit .btn-back:hover {
  background-color: #00cc00;
}

#page-edit .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
  margin-left: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: 4rem;
  padding: 4rem;
  background-color: #eeeeee;
}

#page-edit .container h1 {
  color: #EC9121;
  margin-bottom: 2rem;
}

#page-edit .container form {
  display: flex;
  flex-direction: column;
}

#page-edit .container form label {
  color: #EC9121;
  margin-bottom: 0.4rem;
  font-weight: bold;
}

#page-edit .container form input {
  padding: 0.4rem;
  width: 20rem;
  margin-bottom: 1rem;
}

#page-edit .container form select {
  padding: 0.4rem;
  margin-bottom: 1rem;
}

#page-edit .container form textarea {
  resize: none;
}

#page-edit .container button {
  margin-top: 3rem;
  width: 18.5rem;
  height: 2.5rem;
  background-color: #EC9121;
  border: 0;
  border-radius: 2rem;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s;
}

#page-edit .container button:hover {
  background-color: #00cc00;
}

